<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/todo.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Barriecito&family=Jua&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="title"><%=name%>님의 TO DO LIST</div>
        <img src="../images/images/star-color.png" id="star" />
      </div>
      <form class="input-wrapper" id="form" >
        <input id="input-name" type="hidden" name="name" value="<%=name%>"/>
        <button type="button" id="btn-check-all">전체 체크</button>       
        <button type="button" id="btn-uncheck-all">전체 해제</button> 
        <input
          type="text"
          id="input-text"
          name="text"
          placeholder="write and add something to do..."
          autocomplete="off"
        />
        <button type="submit" class="btn-plus"></button>
        <button type="button" class="btn-delete-all"></button>
      </form>
      <ul class="list-wrapper ">
       
        <% for(let i=0; i<todoList.length; i++){%>
        <li class="item-list <%=todoList[i].isDone?'done': ''%>" data-id="<%=todoList[i].id%>">    
                  
            <input type="checkbox" <%=todoList[i].isDone?'checked':''%> />
            <p class="content"><%=todoList[i].text%></p>
            <img src="../images/images/modify.png" class="modify" />
            <img src="../images/images/trashcan.png" class="trash-can"  />  
        <%}%>
      </ul>
      
    </div>
    <script src="../javascripts/todo.js"></script>
  </body>
</html>
